@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  height: 100dvh;
}

*::-webkit-scrollbar {
  width: 0.4rem;
}

*::-webkit-scrollbar-track {
  /* width: 0.4rem; */
  background-color: transparent;
  border-radius: 99999px;
  overflow: hidden;
}

*::-webkit-scrollbar-thumb {
  border-radius: 99999px;
  background-color: #313131;
}

@layer utilities {
  .boxshadow {
    box-shadow:
      0 0 5px rgb(83, 172, 255),
      0 0 25px #53acff;
  }
}

@layer components {
  .active {
    @apply bg-green-500 font-semibold;
  }

  .soon::before {
    @apply absolute z-40 flex h-[29px]  w-[9rem] cursor-default  items-center justify-center rounded bg-transparent text-transparent transition-all duration-300 content-["Coming_Soon"];
  }
  .soon:hover::before {
    @apply boxshadow bg-geekAccent text-white;
  }
}
